<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link type="text/css" rel="stylesheet" href="/css/styles.css" th:href="@{/css/styles.css}" /> 
<script src="https://kit.fontawesome.com/17a4ce7e95.js"></script>

<title>Edit user</title>
</head>
<body>
	<header>
		<div class="nav" th:replace="generals/nav :: navbar"></div>
	</header>
	<div class="clear"></div>
	<div class="d-flex justify-content-between container">
		<div class="flex-item">
			<div class="side-container"></div>
		</div>
		<div class="flex-item main-container">
			<div>
				<div class="text-box">
					<h1 th:text="#{edit_user}">Edit User</h1>
				</div>
				<form th:object="${user}" th:action="@{/users/update}" action="#" method="post">
					
					<div class="form-group">
						<label hidden="hidden" for="id">Id</label>
						<input class="form-control" type="hidden" id="id" th:field="${user.id}" />
					</div>
					
					<div class="form-group">
						<label for="username" th:text="#{username}">Username</label>
						<input class="form-control" type="text" id="username" th:field="${user.username}" />
					</div>
					
					<div class="form-group">
						<label for="email" th:text="#{email}">Email</label>
						<input class="form-control" type="text" id="email" th:field="${user.email}" />
					</div>
					
					<div class="form-group">
						<label for="passwordHash" th:text="#{password}">Password</label>
						<input class="form-control" type="text" id="passwordHash" th:field="${user.passwordHash}" disabled/>
					</div>
					
					<div class="form-group">
					<span th:text="#{role}" style="margin-right: 10px"></span>
						<select class="form-control" id="role" th:field="${user.role}" style="max-width: 150px">
							<option selected value="USER" th:text="USER"></option>
							<option value="ADMIN" th:text="ADMIN"></option>
						</select>
					</div>
					
					<button class="btn btn-secondary" type="submit" th:text="#{save_user}">Save</button>
					<button class="btn" type="reset" th:text="#{cancel}">Cancel</button>
				</form>
			</div>
		</div>
		<div class="flex-item">
			<div class="side-container"></div>
		</div>
	</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
	</script>
	<script type="text/javascript">
	$(document).ready(function() {
	    $("#locales").change(function () {
	        var selectedOption = $('#locales').val();
	        if (selectedOption != ''){
	            window.location.assign('?lang=' + selectedOption);
	        }
	    });
	});
	</script>
</body>
</html>